---
title: " **[SOLAR]** 데이터 탐색용"
author: "jiyunLim"
date: "04/19/2023"
categories:
  - Research
  - STGCN
  - SOLAR
---

> data2/solar_radiation.csv 기반으로 재구조한 데이터

In [5]:
import pandas as pd
import numpy as np
import json
import urllib
import time

In [6]:
df = pd.read_csv('./data2/restructuring_data.csv')

In [7]:
df.shape

(2568, 45)

In [10]:
df.head()

,date,북춘천,철원,대관령,춘천,백령도,북강릉,강릉,서울,인천,...,순창군,북창원,양산시,보성군,강진군,의령군,함양군,광양시,청송군,경주시
0,2022-06-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-06-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-06-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-06-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022-06-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
print('train', df.iloc[0]['date'], '~', df.iloc[1793]['date'])
print('test',  df.iloc[1794]['date'], '~', df.iloc[-1]['date'])

train 2022-06-01 00:00:00 ~ 2022-08-14 17:00:00
test 2022-08-14 18:00:00 ~ 2022-09-15 23:00:00

**[힌남노]** 활동기간 : 2022년 8월 28일 15시 ~ 2022년 9월 6일 21시

**[노루]** 활동기간: 2022년 9월 23일 15시 ~ 2022년 9월 28일 21시 --> 한국영향X