---
title: " Dataset "
author: "jiyun Lim"
date: "03/29/2023"
categories:
    - Data
---

# Data

> ***`OBS_ASOS_TIM_data0`*** : 2021-01-01 ~ 2021-12-31 

> ***`OBS_ASOS_TIM_data1`*** : 2022-01-01 ~ 2023-01-01

- 2021-01-01부터 2023-01-01 약 2년간의 데이터셋

- 오전 8시부터 오후6시까지 1시간 간격으로 측정한 데이터셋

In [47]:
import pandas as pd
import numpy as np
import gc

In [52]:
df0 = pd.read_csv('./OBS_ASOS_TIM_data0.csv', encoding='cp949') # 2021-01-01 ~ 2021-12-31
df1 = pd.read_csv('./OBS_ASOS_TIM_data1.csv', encoding='cp949') # 2022-01-01 ~ 2023-01-01

In [61]:
gc.collect()

330

In [54]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230205 entries, 0 to 230204
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   지점         230205 non-null  int64
 1   지점명        230205 non-null  object
 2   일시         230205 non-null  object
 3   일사(MJ/m2)  230205 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.0+ MB

In [55]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215043 entries, 0 to 215042
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   지점         215043 non-null  int64
 1   지점명        215043 non-null  object
 2   일시         215043 non-null  object
 3   일사(MJ/m2)  215043 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.6+ MB

In [8]:
df1.shape

(230205, 4)

In [64]:
df0.head()

   지점  지점명                일시  일사(MJ/m2)
0  93  북춘천  2021-01-01 08:00       0.00
1  93  북춘천  2021-01-01 09:00       0.37
2  93  북춘천  2021-01-01 10:00       0.96
3  93  북춘천  2021-01-01 11:00       1.40
4  93  북춘천  2021-01-01 12:00       1.72

In [68]:
len(df0['지점'].unique()), len(df1['지점'].unique())

(48, 49)

In [78]:
df0['지점명'].unique(),  df1['지점명'].unique()

(array(['북춘천', '철원', '동두천', '파주', '대관령', '춘천', '백령도', '북강릉', '강릉', '서울',
        '인천', '원주', '울릉도', '수원', '충주', '서산', '청주', '대전', '추풍령', '안동', '상주',
        '포항', '대구', '전주', '창원', '광주', '부산', '목포', '여수', '흑산도', '고창', '홍성',
        '제주', '고산', '진주', '고창군', '영광군', '김해시', '순창군', '북창원', '양산시', '보성군',
        '강진군', '의령군', '함양군', '광양시', '청송군', '경주시'], dtype=object),
 array(['북춘천', '철원', '동두천', '파주', '대관령', '춘천', '백령도', '북강릉', '강릉', '서울',
        '인천', '원주', '울릉도', '수원', '충주', '서산', '청주', '대전', '추풍령', '안동', '상주',
        '포항', '대구', '전주', '창원', '광주', '부산', '목포', '여수', '흑산도', '고창', '홍성',
        '제주', '고산', '진주', '제천', '고창군', '영광군', '김해시', '순창군', '북창원', '양산시',
        '보성군', '강진군', '의령군', '함양군', '광양시', '청송군', '경주시'], dtype=object))

In [11]:
df1.head()

   지점  지점명                일시  일사(MJ/m2)
0  93  북춘천  2022-01-01 08:00       0.00
1  93  북춘천  2022-01-01 09:00       0.38
2  93  북춘천  2022-01-01 10:00       1.02
3  93  북춘천  2022-01-01 11:00       1.43
4  93  북춘천  2022-01-01 12:00       1.73

In [9]:
df1.tail()

         지점  지점명                일시  일사(MJ/m2)
230200  283  경주시  2023-01-01 14:00       1.62
230201  283  경주시  2023-01-01 15:00       1.30
230202  283  경주시  2023-01-01 16:00       0.82
230203  283  경주시  2023-01-01 17:00       0.29
230204  283  경주시  2023-01-01 18:00       0.01

In [60]:
df1['일시'] = pd.to_datetime(df1['일시'])
df1['Datetime'] = df1['일시'].dt.date
df1['hour'] = df1['일시'].dt.hour
df1.head()

   지점  지점명                  일시  일사(MJ/m2)    Datetime  hour
0  93  북춘천 2022-01-01 08:00:00       0.00  2022-01-01     8
1  93  북춘천 2022-01-01 09:00:00       0.38  2022-01-01     9
2  93  북춘천 2022-01-01 10:00:00       1.02  2022-01-01    10
3  93  북춘천 2022-01-01 11:00:00       1.43  2022-01-01    11
4  93  북춘천 2022-01-01 12:00:00       1.73  2022-01-01    12

In [63]:
df1['hour'].value_counts().sort_index()

5        36
6      6667
7     12101
8     17523
9     17527
10    17527
11    17516
12    17523
13    17526
14    17525
15    17525
16    17531
17    17503
18    17511
19    11863
20     6755
21       46
Name: hour, dtype: int64

In [80]:
len(df0['지점'].unique()), len(df1['지점명'].unique())

(48, 49)

In [23]:
pd.DataFrame(df1['지점명'].value_counts())

      지점명
백령도  4848
울릉도  4821
의령군  4808
강진군  4808
창원   4807
북강릉  4807
함양군  4807
경주시  4807
광양시  4806
제주   4806
대전   4806
순창군  4805
서산   4805
북춘천  4804
춘천   4804
추풍령  4804
목포   4804
전주   4804
철원   4803
청송군  4803
대구   4803
보성군  4802
홍성   4802
서울   4802
여수   4802
포항   4802
북창원  4801
충주   4800
고산   4800
파주   4798
원주   4798
수원   4797
동두천  4797
영광군  4796
대관령  4796
상주   4795
김해시  4792
고창   4792
고창군  4791
인천   4789
안동   4788
청주   4786
부산   4783
진주   4776
광주   4767
양산시  4767
흑산도  4715
강릉   4700
제천      1

- 지점과 지명 동일 (49개의 지역)